<div class="dkp-footer">
<!-- Footer -->
<footer class="page-footer font-small text-light bg-dark">

    <!--<div class="container">


      <div class="row">


        <div class="p-5">
          <div class="d-flex justify-content-center">


            <a class="fb-ic" href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="tw-ic" href="https://twitter.com/{{userName}}" target="_blank">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="gplus-ic" href="https://mail.google.com/{{email}}" target="_blank">
              <i class="fab fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="ins-ic" href="https://instagram.com/{{userName}}" target="_blank">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="git-ic" href="https://github.com/{{userName}}" target="_blank">
              <i class="fab fa-github fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>


      </div>


    </div>-->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: black;">© 2022 Copyright:
      <a routerLink="/"> HOSTEL.COM</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
